body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: auto;
    height: 30px;
    background-color: rgb(200, 200, 200);
    align-items: center;
    justify-content: center;
    letter-spacing: 17px;
    border-bottom: solid rgb(103, 103, 103);
}
.container {
    display: grid;
    width: 90%;
    height: 90em;
    margin: 25px;
    justify-self: center;
    justify-content: center;
    background-color: rgb(231, 231, 231);
}
.input ,.transcription {
    display: grid;
    width: 22em;
    height: 20em;
    border: none;
    font-size: 25px;
    border-radius: 30px;
    background-color: white;
    margin: 25px;
    padding: 20px;
    overflow: auto;
    resize: none;
}
.icon-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    bottom: 7%;
    cursor: pointer;
}
.icon-sync {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 41%;
    cursor: pointer;
}
.lang-btn {
    display: flex;
    width: 85%;
    height: 75px;
    margin: 10px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: space-around;

}
select{
    width: 12em;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(200, 200, 200);
    border: none;
    filter: drop-shadow(1px 2px 2px gray);
    text-align: center;
    font-size: 15px;   
    cursor: pointer;
    margin: -9% 0 0 10%;
}
.translation-btn {
    position: absolute;
    bottom: 5%;
    justify-self: center;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(200, 200, 200);
    border: none;
    filter: drop-shadow(1px 2px 2px gray);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
}
select:hover, .translation-btn:hover {
    background-color: #f0f0f0;
}
.icon-audio:hover, .icon-sync:hover{
    background-color: rgb(200, 200, 200);
}