html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: auto;
    height: 30px;
    background-color: rgb(200, 200, 200);
    align-items: center;
    justify-content: center;
    letter-spacing: 12px;
    border-bottom: solid rgb(103, 103, 103);
}
.container {
    display: grid;
    width: 94%;
    height: 32em;
    margin: 3%;
    justify-self: center;
    justify-content: center;
    align-content: stretch;
    background-color: rgb(231, 231, 231);
}
.input ,.transcription {
    display: grid;
    width: auto;
    height: 5em;
    border: none;
    font-size: 25px;
    border-radius: 30px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    resize: none;
}
.icon-audio {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 16%;
    cursor: pointer;
    @media (width >= 768px) {
        bottom: 14%;
    }
}
.icon-sync {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 37%;
    cursor: pointer;
    transform: rotate(90deg);
    
}
.lang-btn {
    display: flex;
    width: 85%;
    height: 75px;
    margin: 10px;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: space-around;

}
select{
    width: 7em;
    height: 2em;
    border-radius: 30px;
    background-color: rgb(200, 200, 200);
    border: none;
    filter: drop-shadow(1px 2px 2px gray);
    text-align: center;
    font-size: 15px;   
    cursor: pointer;
    margin: -13% 0 0 10%;
}
.translation-btn {
    position: absolute;
    bottom: 10%;
    justify-self: center;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(200, 200, 200);
    border: none;
    filter: drop-shadow(1px 2px 2px gray);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    z-index: 2;
}
select:hover, .translation-btn:hover {
    background-color: #f0f0f0;
}
.icon-audio:hover, .icon-sync:hover{
    background-color: rgb(200, 200, 200);
}

@media (565px < width < 768px) {
    .translation-btn{
        bottom: 4%;
    }
    .container {
        width: 55%;
        height: 100%;
        margin: 0;
    }
    .input, .transcription {
        height: 4em;
    }
    .icon-sync {
        top: 35%;
    }
}

@media (width >= 768px) {
    .translation-btn{
        bottom: 3%;
    }
    .container {
        width: 55%;
    }
}